/* DNSRecord Node Styling */

.gatewayapi-console-plugin__node--dns-record {
  fill: var(--pf-v6-global--palette--purple-100);
  stroke: var(--pf-v6-global--palette--purple-500);
}

.gatewayapi-console-plugin__node--dns-record:hover {
  fill: var(--pf-v6-global--palette--purple-200);
  stroke: var(--pf-v6-global--palette--purple-600);
}
