.gatewayapi-console-plugin__node--gateway-class .pf-topology__node__background {
  fill: #8461c9 !important;
  stroke: #8461c9 !important;
  stroke-width: 2px;
}

.gatewayapi-console-plugin__node--gateway-class:hover .pf-topology__node__background {
  fill: #6941a6 !important;
}

.gatewayapi-console-plugin__node--gateway-class.pf-m-selected .pf-topology__node__background {
  stroke: #4f2f7f !important;
  stroke-width: 3px;
}

.gatewayapi-console-plugin__node--gateway-class .pf-topology__node__label__badge text {
  fill: white !important;
}
