.gatewayapi-console-plugin__node--listener .pf-topology__node__background {
  fill: #009596 !important;
  stroke: #009596 !important;
  stroke-width: 2px;
}

.gatewayapi-console-plugin__node--listener:hover .pf-topology__node__background {
  fill: #007273 !important;
}

.gatewayapi-console-plugin__node--listener.pf-m-selected .pf-topology__node__background {
  stroke: #005455 !important;
  stroke-width: 3px;
}

.gatewayapi-console-plugin__node--listener .pf-topology__node__label__badge text {
  fill: white !important;
}
